venv/
.venv/
env/
ENV/
env.bak/

.idea/
.vscode/
*.swp
*.swo

**/__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/
*.egg

pip-log.txt
pip-delete-this-directory.txt

.coverage
.tox/
htmlcov/
nosetests.xml

.env
.flaskenv
Others:

*.log
database.db
